@font-face {
    font-family:"Socialico";
    src:url(fonts/Socialico.ttf)
}
@font-face {
    font-family:"bioliquid-Regular";
    src:url(fonts/bioliquid-Regular.ttf)
}
html {
    font-size:30px;
}
body {
    margin: 0 auto;
}
.header,
.services,
.analitycs,
.footer {
    margin: 0 auto;
    width: 70.6%;
}

.header {
    font-size: 1rem;
    color:#c4c4c4;
    vertical-align: middle;
    overflow: auto;
}
.header__logo {
    font-size: 1rem;
    color:#c4c4c4;
    font-family: "bioliquid-Regular";
    display: inline-block;
    padding-top:0.3333333333333333rem;
}
.header__social {
    display: inline-block;
    float: right;
}
.social__ico {
    margin-left: -1px;
    font-family:"Socialico";
    float: left;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    padding: 0.5rem 0.6666666666666667rem;
    transition: background-color 0.4s ease-in;
    transition: color 0.3s ease-in;
}
.header a {
    text-decoration: none;
    color:#c4c4c4;
}
.social__ico:hover {
    background-color: #f8f8f8;
     color: #f26868;
}
.social__ico:active {
    background-color: #ededed;
}
/********************/
.bilboard {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 2.666666666666667rem 0px;
}

.bilboard__caption {
    font-size: 1.266666666666667rem;
    color: #616060;
    font-weight: 300;
    margin-bottom: 0px;
}
.bilboard__signature {
    text-align: center;
    color:#8a8a8a;
    font-weight: 400;
    font-size: 0.5rem;
   
}
.bilboard__btn {
    margin:2rem auto 0 ;
    padding: 0.3333333333333333rem 2rem;
    background-color:#f26868; 
    border-style: solid;
  border-width: 3px;
  border-color: rgb(226, 89, 89);
  border-radius: 3px;
    text-align: center;
    display: table;
    cursor: pointer;
    transition: all 0.25s ease;
}
.btn__text {
    font-size:0.6666666666666667rem;
    color:#f8f8f8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
}
.btn__text a {
     text-decoration: none;
    color:#f8f8f8;
}
.bilboard__btn:hover {
     background-color:rgb(226, 89, 89);
}
.bilboard__btn:active {
  background-color:#fa5454;  
}
/*******************/


.services {
     padding: 2.666666666666667rem 0px;
    font-family: 'Open Sans', sans-serif;
}
.services__block {
    overflow: auto;
}
.services__textbox {
    overflow:hidden;
}
.services__block h2 {
    font-size: 0.6666666666666667rem;
    font-weight:700;
    color: #6b6b6b;
}
.services__block p {
    
    font-size: 0.4666666666666667rem;
    font-weight:400;
    color: #9d9c9c;
}

.services__block--1 > img{
    float: left;
    margin-right: 8.3%;
    margin-left: 8.3%;
}
.services__block--2 {
    margin: 10% 0px;
}
.services__block--2 > img{
    float:right;
    margin-right: 8.3%;
    margin-left: 8.3%;
}
.services__block--3 > img{
    float:left;
    margin-right: 8.3%;
    margin-left: 8.3%;
}

/*******************/
.analitycs {
    padding: 2.666666666666667rem 0px;
    border-top: 1px solid #d7d7d7;
    text-align: center;
    color: #c4c4c4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.6rem;
}
.analitycs img{
    max-width: 100%;
}
.analitycs p {
    margin: 0px;
    padding: 0px;
}
/*******************/
.callto {
    width: 100%;
   padding: 2.666666666666667rem 0px;
    background-color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
}

.callto__btn {
    margin-left: 14.7%;
    margin-top: 1rem;
    padding: 0.3333333333333333rem 2rem;
    background-color:#f26868; 
    border-style: solid;
  border-width: 3px;
  border-color: rgb(226, 89, 89);
  border-radius: 3px;
    text-align: center;
    display: table;
    transition: all .25s ease-in;
    cursor: pointer;
}
.callto__btn:hover {
    background-color:rgb(226, 89, 89);
}
.callto__btn:active {
    background-color:#fa5454;
}
.callto__btn-text {
    font-size: 0.6666666666666667rem;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
}
.callto__btn-text a {
    text-decoration: none;
    color:#f8f8f8;
}
.callto h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14.7%;
    font-size: 0.9333333333333333rem;
    font-weight: 700;
    color: #6b6b6b;
}

.callto p {
    margin-left: 14.7%;
    font-weight: 400;
    color: #9d9c9c;
    font-size: 0.4666666666666667rem;
    margin-bottom: 2%;
    max-width: 50%;
}

/*****************/
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer__logo {
    font-size: 1rem;
    color:#c4c4c4;
    font-family: "bioliquid-Regular";
    display: inline-block;
    margin: 0;
    padding: 0;
    transition: all 1s ease;
    cursor: pointer;
}
.footer__logo:hover{
    color:#f26868; 
}
.footer__sitemap {
    display: inline-block;
  float: right;
    margin: 0;
    padding: 0;
}
.sitemap__site-item {
    font-family: 'Open Sans', sans-serif;
    display: inline;   
}
.sitemap__site-item a {
    text-decoration: none;
    color: #8c8b8b;
    font-size:0.4rem;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
}
.sitemap__site-item a:hover {
    text-decoration:line-through;
}
.sitemap__site-item:after {
    font-size:0.4rem;
    content: " - ";
    color:#8c8b8b;
   padding: 0px 6px;
}

.sitemap__site-item:last-child:after {
    content: " "; 
}

@media screen and (max-width: 762px) {
     html {
        font-size: 25px;
    }
    .header,
.services,
.analitycs,
.footer {
    margin: 0 auto;
    width: 80%;
}
   }

.callto__btn {
    margin-left: 10%;
}
.callto h1 {
    margin-left: 10%; 
}

.callto p {
    margin-left: 10%;
}
.services__block > img {
    margin-top: 8%;
}
@media screen and (max-width: 480px) {
    html {
        font-size: 20px;
    }
    .services__block > img {
    width: 25%;
}
    .header {
     width: 100%;   
    }     
.services,
.analitycs,
.footer {
    margin: 0 auto;
    width: 94%;
}


.callto__btn {
    margin-left: 3%;
}
.callto h1 {
    margin-left: 3%; 
}

.callto p {
    margin-left: 3%;
    max-width: 85%;
}
    .services__block > img {
    margin-top: 3%;
}
   }